:root{
   --COLOR--1: #233946a3;
   --COLOR--2: #08bcd08d;
   --COLOR--3: #ffffff;
   --COLOR--4: #233946;
   --COLOR--5: #08bcd02f;
   --COLOR--6: #001018;
   --COLOR--7: #051f2d;
}
body{
    background-color: var(--COLOR--6);
}
.Google-Font-Oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/*============================================= Activity =============================================*/
.ALL-ACTIVE {
    margin: auto;
    text-align: center;
    margin-top: 80px
}
.ALL-ACTIVE .btn {
    padding: 0;
    margin: 0 1rem 1rem 0;
    border: var(--COLOR--4) solid 0.1rem;
    border-radius: 7.15px;
}
.ALL-ACTIVE .btn .card {
    width: 24rem;
    background-color: var(--COLOR--4);
    border: none;
}
.ALL-ACTIVE .btn .card .card-header {
    padding-top: 18px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--COLOR--1);
}
.ALL-ACTIVE .btn .card .card-header img{
    width: 350px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
}
.ALL-ACTIVE .btn .card .card-header p{
    height: 1.0rem;
    margin-top: 1rem;
    color: var(--COLOR--3);
}
.ALL-ACTIVE .btn .card .card-header .progress{
    height: 1.0rem;
    margin-top: 0.3rem;
    background: var(--COLOR--5);
}
.ALL-ACTIVE .btn .card .card-footer {
    background-color: var(--COLOR--2);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL{

}
.ALL-ACTIVE .MODAL .MODAL_DIALOG{

}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--7);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-header button{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--3);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer p{
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer select{
    margin-top: 0.7rem;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer button{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--3);
    color: var(--COLOR--6);
    width: 100px;
}
