:root{
    --COLOR--1: #233946a3;
    --COLOR--2: #08bcd08d;
    --COLOR--3: #ffffff;
    --COLOR--4: #233946;
    --COLOR--5: #08bcd02f;
    --COLOR--6: #001018;
    --COLOR--7: #051f2d;

    --COLOR--BAD: #db3434b5;
    --COLOR--GOOD: #34db3cb5;
    --COLOR--0: #21252929;
    --COLOR--33: #db5b3487;
    --COLOR--66: #f6ff06a1;
    --COLOR--100: #0001ff87;
}
.Google-Font-Oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/*============================================= Activity =============================================*/
.ALL-ACTIVE {
    margin: auto;
    text-align: center;
    margin-top: 80px
}
.ALL-ACTIVE .btn {
    padding: 0;
    margin: 0 1rem 1rem 0;
    border: var(--COLOR--4) solid 0.1rem;
    border-radius: 7.15px;
}
.ALL-ACTIVE .btn .card {
    width: 24rem;
    background-color: var(--COLOR--4);
    border: none;
}
.ALL-ACTIVE .btn .card .card-header {
    padding-top: 18px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--COLOR--1);
}
.ALL-ACTIVE .btn .card .card-header img{
    width: 350px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
}
.ALL-ACTIVE .btn .card .card-header p{
    height: 1.0rem;
    margin-top: 1rem;
    color: var(--COLOR--3);
}
.ALL-ACTIVE .btn .card .card-header .progress{
    height: 1.0rem;
    margin-top: 0.3rem;
    background: var(--COLOR--5);
}
.ALL-ACTIVE .btn .card .card-footer {
    background-color: var(--COLOR--2);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--7);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-header button{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--3);
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer p{
    color: var(--COLOR--3);
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer select{
    margin-top: 0.7rem;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.ALL-ACTIVE .MODAL .MODAL_DIALOG .modal-content .modal-footer button{
    border: var(--COLOR--3) solid 0.1rem;
    background-color: var(--COLOR--3);
    color: var(--COLOR--6);
    width: 100px;
}
/*============================================= New Activity =============================================*/
body {
    background-color: #e9eaea;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cards-container {
    display: flex;
    align-content: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards-container .card {
    flex: 0 0 calc(18% - 2%);
    margin: 1%;
    cursor: pointer;
}
.cards-container .card .card-header {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
    width: 100%;
    padding: 10px;
}
.cards-container .card .card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    justify-content: flex-end;
}
.cards-container .card .card-body .card-date{
    font-size: 0.8rem;
    margin-top: 0.3rem;
}
.cards-container .card .card-body .progress{
    height: 1.0rem;
    margin-top: 0.3rem;
}
#Logo {
    justify-content: center;
}
#projectDetailsCanvas {
    height: 100%;
}
.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    border: none;
}
.btn-circle .fas {
    font-size: 24px;
}
.selected-project {
    background-color: #007bff;
    color: white;
}
.project-wrapper:hover {
    background-color: #333;
    /* Change #333 to whatever color you prefer for hover */
    cursor: pointer;
}

.progress-bar {
    color: black; /* Цвет текста */
}
.progress-text {
    position: absolute;
    left: 50%; /* Регулируйте положение текста по вашему усмотрению */
    top: 50%; /* Регулируйте положение текста по вашему усмотрению */
    transform: translate(-50%, -50%); /* Центрируйте текст внутри прогресс-бара */
    z-index: 1; /* Убедитесь, что текст находится выше прогресс-бара */
    color: #000; /* Цвет текста */
    font-size: 14px; /* Размер текста */
}
.progress-bar-0 {
    background-color: var(--COLOR--0); /* Цвет заполненной части */
}
.progress-bar-0::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--COLOR--0); /* Цвет не заполненной части */
}
.progress-bar-33 {
    background-color: var(--COLOR--0); /* Цвет заполненной части */
}
.progress-bar-33::before {
    content: "";
    display: block;
    width: 33%;
    height: 100%;
    background-color: var(--COLOR--33); /* Цвет не заполненной части */
}
.progress-bar-66 {
    background-color: var(--COLOR--0); /* Цвет заполненной части */
    width: 34%;
}
.progress-bar-66::before {
    content: "";
    display: block;
    width: 66%;
    height: 100%;
    background-color: var(--COLOR--66); /* Цвет не заполненной части */
}
.progress-bar-100 {
    background-color: var(--COLOR--100); /* Цвет заполненной части */
    color: #00000069;
}
.progress-bar-Good {
    background-color: var(--COLOR--GOOD); /* Цвет заполненной части */
    color: #00000069;
}
.progress-bar-Bad {
    background-color: var(--COLOR--BAD); /* Цвет заполненной части */
    color: #00000069;
}