{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем CSS файл Bootstrap -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'Need-File/New_Css.CSS' %}" rel="stylesheet">
    <link href= "{% static 'IMG/Need-File-CSS.CSS' %}" rel="stylesheet">
    <!-- Подключаем Google Fonts и Icons-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Подключаем файлы JavaScript для некоторых компонентов и интерактивности -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>{{project.project_name}}</title>
</head>

<body>
    <!-- Фиксированный навигационный бар -->
    <nav class="navbar navbar-dark bg-dark fixed-top">      
        <!-- Контейнер с полным охватом -->
        <div class="container-fluid">
            <!-- Ссылочное лого -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'IMG/error.jpg' %}" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
                Four-Zero-Four
            </a>
            <!-- Кнопка для открытия модального окна -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Ссылочное меню ссылочной кнопки-->
    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <!-- Head меню -->
        <div class="offcanvas-header">
            <p class="offcanvas-title P-Size-1 Google-Font-Oswald" id="offcanvasDarkNavbarLabel">Four-Zero-Four</p>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- Body меню -->
        <div class="offcanvas-body">
            {% include 'Chief_Editor-Navbar.html' %}
        </div>
         <!-- Bottom Box -->
        <div class="offcanvas-bottom-box" style="padding: 10px; background-color: #212529; color: white;">
            <!-- Notif -->
            <div class="Notification">
                <ul class="nav-item dropdown navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Notification
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for activity in project.activities.all %}
                                {% if activity.status == "100" %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'project_detail_2' activity.project.id %}" style="text-decoration: none; color: inherit; width: 100%;">
                                        <p>Project: {{ activity.project.id }} <br> Activity: {{ activity.name }} <br> Status: Ready to check</p>
                                    </a>
                                </li>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <br>
            <div class="d-flex align-items-center">
                <!-- User Icon -->
                <div class="user-icon" style="margin-right: 10px;">
                    <img src="{% static 'IMG/error.jpg' %}" alt="User Icon" width="50" height="50" style="border-radius: 50%;">
                </div>
                <!-- User Name and Role -->
                <div class="user-info">
                    <div class="user-name">{{ request.user.username }}</div>
                    <div class="user-role">{{ request.user.user_type }}</div>
                </div>
            </div>
        </div>
    </div>




    <div class="ALL-ACTIVE">
        {% for activity in project.activities.all %}
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ activity.id }}">
            <div class="card">
                <div class="card-header">
                    <img src="{% static 'IMG/error.jpg' %}" alt="Logo"></img>
                    <p class="Google-Font-Oswald">{{ activity.deadline }}</p>
                    <div class="progress Google-Font-Oswald">
                        {% if activity.status == "Unsatisfactory result" %}
                         <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-label="Danger striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                             {{ activity.status }}
                         </div>
                         {% elif activity.status == "Satisfactory result" %}
                         <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            {{ activity.status }}
                        </div>
                        {% else %}
                            {% if activity.status == "0" %}
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-label="Warning striped example" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                
                            </div>
                            {% elif activity.status == "33" %}
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-label="Warning striped example" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                                
                            </div>
                            {% elif activity.status == "66" %}
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-label="Warning striped example" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                                
                            </div>
                            {% elif activity.status == "100" %}
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Warning striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                Ready to check
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer Google-Font-Oswald">{{ activity.name }}</div>
            </div>
        </button>
        <!-- Modal -->
        <div class="MODAL modal fade" id="staticBackdrop{{ activity.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="MODAL_DIALOG modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content Google-Font-Oswald">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ activity.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Здесь расположите содержимое вашего модального окна -->
                        <br>
                        <p>{{ activity.task_info }}</p>
                        <br><br><br>
                        <p>Deadline of this activity: {{ activity.deadline }}</p>
                        <!-- Например, поля ввода или другие элементы формы -->
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'update_activity_2' activity.id %}">
                            {% csrf_token %}
                            <select name="status" id="status" >
                                <option value="Unsatisfactory result">Unsatisfactory result</option>
                                <option value="Satisfactory result">Satisfactory result</option>
                            </select>
                            <button type="submit" class="btn d-inline-block align-text-top">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>